
.wrapper {

  .content {
    padding: 48px;
    width: 888px;
    background: var(--white);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.08), 0 0 4px 0 rgba(0, 0, 0, 0.04);

    .title {
      font-size: 24px;
      text-transform: uppercase;
      margin-bottom: 24px;
    }

    .button-wrapper {
      margin-top: 24px;
    }

    a {
      color: var(--main-color);
      cursor: pointer;
      text-decoration: none;
    }
  }
}
